@font-face {
    font-family: 'Aire Bold Pro';
    src: url('../../public/assets/fonts/AireBoldPro/AireBoldPro.eot');
    src: url('../../public/assets/fonts/AireBoldPro/AireBoldPro.eot?#iefix') format('embedded-opentype'),
        url('../../public/assets/fonts/AireBoldPro/AireBoldPro.woff2') format('woff2'),
        url('../../public/assets/fonts/AireBoldPro/AireBoldPro.woff') format('woff'),
        url('../../public/assets/fonts/AireBoldPro/AireBoldPro.ttf') format('truetype'),
        url('../../public/assets/fonts/AireBoldPro/AireBoldPro.svg#AireBoldPro') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../public/assets/fonts/Roboto-Bold/Roboto-Bold.eot');
    src: url('../../public/assets/fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/assets/fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
        url('../../public/assets/fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
        url('../../public/assets/fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Lt';
    src: url('../../public/assets/fonts/Roboto-Light/Roboto-Light.eot');
    src: url('../../public/assets/fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/assets/fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
        url('../../public/assets/fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
        url('../../public/assets/fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('../../public/assets/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/assets/fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
        url('../../public/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
        url('../../public/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
        url('../../public/assets/fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

