#footer {
    background-color: $brown-color;
    .footer-container {
        .footer-top-container {
            padding-top: 80px;
            padding-bottom: 25px;
            span {
                display: block;
                &.footer-title {
                    font-family: "Aire Bold Pro";
                    font-size: 28px;
                    text-align: center;
                }
                &.footer-text {
                    font-family: "Roboto Lt";
                    font-size: 14px;
                    text-align: center;
                    letter-spacing: 0.1px;
                }
                &.footer-subtitle {
                    text-transform: uppercase;
                }
            }
            p,
            span {
                color: $white;
                &.footer-text {
                    font-family: "Roboto Lt";
                    font-size: 14px;
                    text-align: center;
                    letter-spacing: 0.1px;
                }
            }
            .footer-social-media {
                text-align: center;
                .footer-social-media-icons {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    > span {
                        display: inline;
                    }
                }
            }
            .footer-address-hours {
                .footer-address {
                    margin-bottom: 50px;
                }
                .footer-hours-title {
                    line-height: 28px;
                }
            }
            .footer-newsletter {
                form {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    input {
                        width: 70%;
                        border-radius: 0;
                        border: 0;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        text-align: center;
                    }
                    button {
                        width: 30%;
                        background-color: $orange-color;
                        border-radius: 0;
                        border: 0;
                        color: $white;
                    }
                }
            }
        }
        .footer-bottom-container {
            border-top: 1px solid $white;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 40px;
        }
        .icon-container {
            a {
                img {
                    -webkit-transition: all 0.3s ease-in;
                    -moz-transition: all 0.3s ease-in;
                    -ms-transition: all 0.3s ease-in;
                    -o-transition: all 0.3s ease-in;
                    transition: all 0.3s ease-in;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    @media (min-width: 992px) {
        .footer-container {
            padding-left: 5%;
            padding-right: 5%;
            .footer-top-container {
                span {
                    &.footer-title {
                        text-align: left;
                    }
                    &.footer-text {
                        text-align: justify;
                    }
                }
                p,
                span {
                    &.footer-text {
                        text-align: justify;
                    }
                }
                .footer-social-media {
                    text-align: left;
                }
                .footer-cols-container {
                    display: flex;
                    flex-wrap: wrap;
                    > div {
                        &.footer-address-hours {
                            width: 38%;
                        }
                        &.footer-social-media {
                            width: 30%;
                            padding-left: 5px;
                            padding-right: 30px;
                        }
                        &.footer-newsletter {
                            width: 32%;
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        .footer-container {
            padding-left: 10%;
            padding-right: 10%;
            .footer-top-container {
                span {
                    &.footer-title {
                        font-size: 35px;
                    }
                    &.footer-text {
                        font-size: 16px;
                    }
                }
                p,
                span {
                    &.footer-text {
                        font-size: 16px;
                    }
                }
                .footer-cols-container {
                    > div {
                        &.footer-newsletter {
                            padding-right: 15px;
                            form {
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1320px) {
        .footer-container {
            .footer-top-container {
                .footer-cols-container {
                    > div {
                        &.footer-social-media {
                            padding-right: 60px;
                        }
                        &.footer-newsletter {
                            padding-right: 30px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1610px) {
        .footer-container {
            .footer-top-container {
                .footer-cols-container {
                    > div {
                        &.footer-social-media {
                            padding-right: 115px;
                        }
                        &.footer-newsletter {
                            padding-right: 70px;
                        }
                    }
                }
            }
        }
    }
}
