#header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999999;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;

    .hoa-header {
        .header-container {
            .header-navbar-container {
                .icon-container {
                    position: relative;
                    a {
                        img {
                            -webkit-transition: all 0.3s ease-in;
                            -moz-transition: all 0.3s ease-in;
                            -ms-transition: all 0.3s ease-in;
                            -o-transition: all 0.3s ease-in;
                            transition: all 0.3s ease-in;
                        }
                        &:hover {
                            text-decoration: none;
                            img {
                                padding-bottom: 10px;
                            }
                        }
                    }
                    img {
                        &:first-of-type {
                            opacity: 1;
                            position: initial;
                        }
                        &:last-of-type {
                            opacity: 0;
                            position: absolute;
                            left: 0;
                            right: 0;
                        }
                    }
                }
                .header-social-media-weather {
                    display: none;
                }
                .navbar {
                    .navbar-brand {
                        margin: 0;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        img{
                            max-width: 232px;
                        }
                    }
                    .navbar-toggler {
                        border: 0;
                        span {
                            background: none;
                            position: relative;
                            i {
                                position: initial;
                                color: $white;
                                font-size: 30px;
                                -webkit-transition: all 0.3s ease-in;
                                -moz-transition: all 0.3s ease-in;
                                -ms-transition: all 0.3s ease-in;
                                -o-transition: all 0.3s ease-in;
                                transition: all 0.3s ease-in;
                                &:first-of-type {
                                    opacity: 0;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                }
                                &:last-of-type {
                                    opacity: 1;
                                }
                            }
                        }
                        &.collapsed {
                            span {
                                i {
                                    &:first-of-type {
                                        opacity: 1;
                                    }
                                    &:last-of-type {
                                        opacity: 0;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    .navbar-collapse {
                        .navbar-nav {
                            .nav-item {
                                .nav-link {
                                    color: $white;
                                    text-transform: uppercase;
                                    font-family: "Roboto Bold";
                                    font-size: 20px;
                                }
                                .dropdown-menu {
                                    border-radius: 0;
                                    border: 0;
                                    opacity: 0;
                                    top: 99%;
                                    -webkit-transition: all 0.3s linear;
                                    -moz-transition: all 0.3s linear;
                                    -ms-transition: all 0.3s linear;
                                    -o-transition: all 0.3s linear;
                                    transition: all 0.3s linear;
                                    .dropdown-item {
                                        -webkit-transition: all 0.3s ease-in;
                                        -moz-transition: all 0.3s ease-in;
                                        -ms-transition: all 0.3s ease-in;
                                        -o-transition: all 0.3s ease-in;
                                        transition: all 0.3s ease-in;
                                        font-family: "Roboto";
                                        color: $brown-color;
                                        &:hover {
                                            font-family: "Roboto Bold";
                                            background-color: $white;
                                        }
                                    }
                                    &.show {
                                        opacity: 1;
                                        -webkit-transition: all 0.3s linear;
                                        -moz-transition: all 0.3s linear;
                                        -ms-transition: all 0.3s linear;
                                        -o-transition: all 0.3s linear;
                                        transition: all 0.3s linear;
                                    }
                                }
                            }
                        }
                    }
                }
                .header-user-cam-buttons {
                    display: none;
                }
            }
        }
    }
    &.sticky {
        position: fixed;
        background-color: $white;
        .hoa-header {
            .header-container {
                .header-navbar-container {
                    .icon-container {
                        position: relative;
                        -webkit-transition: all 0.3s ease-in;
                        -moz-transition: all 0.3s ease-in;
                        -ms-transition: all 0.3s ease-in;
                        -o-transition: all 0.3s ease-in;
                        transition: all 0.3s ease-in;
                        img {
                            &:first-of-type {
                                opacity: 0;
                                position: absolute;
                                left: 0;
                                right: 0;
                            }
                            &:last-of-type {
                                opacity: 1;
                                position: initial;
                            }
                        }
                    }
                    .navbar {
                        .navbar-collapse {
                            .navbar-nav {
                                .nav-item {
                                    .nav-link {
                                        color: $brown-color;
                                    }
                                }
                            }
                        }
                        .navbar-toggler {
                            border: 0;
                            span {
                                i {
                                    color: $brown-color;
                                }
                            }
                        }
                    }
                    .header-social-media-weather {
                        .header-social-media {
                            .follow-social-media {
                                span {
                                    color: $brown-color;
                                }
                            }
                        }
                    }
                    .header-user-cam-buttons {
                        .header-user-buttons {
                            .user-buttons {
                                color: $brown-color;
                                span {
                                    a {
                                        color: $brown-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        .hoa-header {
            .header-container {
                padding-left: 5%;
                padding-right: 5%;
                .header-navbar-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .navbar {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        width: 100%;
                        .navbar-collapse {
                            .navbar-nav {
                                .nav-item {
                                    padding-left: 22px;
                                    padding-right: 22px;
                                    .nav-link {
                                        color: $white;
                                        text-transform: uppercase;
                                        font-family: "Roboto Bold";
                                        font-size: 20px;
                                    }
                                    &:first-of-type {
                                        padding-left: 0;
                                    }
                                    &:last-of-type {
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                    .header-social-media-weather {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        position: absolute;
                        left: 0;
                        z-index: 1;
                        .header-weather {
                            a.dropdown-toggle::after {
                                display: none;
                            }
                            .dropdown-menu {
                                padding: 0;
                                top: 15px !important;
                                .WidgetTutiempo {
                                    .copy {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .header-social-media {
                            margin-left: 5px;
                            > span {
                                vertical-align: middle;
                                &.follow-social-media {
                                    span {
                                        color: $white;
                                        font-family: "Roboto Lt";
                                        text-transform: uppercase;
                                        font-size: 20px;
                                    }
                                }
                                &.social-media-icons {
                                    > span {
                                        a {
                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .header-user-cam-buttons {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        position: absolute;
                        right: 0;
                        z-index: 1;
                        .header-user-buttons {
                            .user-buttons {
                                color: $white;
                                font-size: 20px;
                                font-family: "Roboto Lt";
                                vertical-align: bottom;
                                padding-right: 30px;
                                span {
                                    a {
                                        color: $white;
                                        font-family: "Roboto Lt";
                                        text-transform: uppercase;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        .hoa-header {
            .header-container {
                padding-left: 10%;
                padding-right: 10%;
            }
        }
    }
}
