// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange-color: #bf6f1a;
$brown-color: #807667;
$gray-color: #f3f3f3;
$white: #ffffff;
$black: #000000;