// Fonts
@import "fonts";

// Variables
@import "variables";

//Bootstrap
@import "~bootstrap/scss/bootstrap";

//Header
@import "header";

//Footer
@import "footer";

body {
    height: 100%;

    #covidtag {
        background-color: $orange-color;
        padding: 15px;
        p {
            text-align: center;
            margin-bottom: 0;
            span {
                vertical-align: text-bottom;
                color: $white;
                font-size: 22px;
                &:first-of-type {
                    font-family: "Aire Bold Pro";
                    vertical-align: super;
                    font-size: 30px;
                }
                &:nth-of-type(2) {
                    font-family: "Roboto Lt";
                }
                &:last-of-type {
                    padding-left: 15px;
                    a {
                        -webkit-transition: all 0.3s linear;
                        -moz-transition: all 0.3s linear;
                        -ms-transition: all 0.3s linear;
                        -o-transition: all 0.3s linear;
                        transition: all 0.3s linear;
                        text-transform: uppercase;
                        padding: 10px;
                        color: $white;
                        border: 1px solid $white;
                        font-family: "Roboto Bold";

                        &:hover {
                            text-decoration: none;
                            background-color: $white;
                            color: $orange-color;
                        }
                    }
                }
            }
        }
    }
    @import "home";
}
